<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Greetings, {{name}}</p>
  <p>It seems like you or someone else used this e-mail to request a password change.</p>
  <p>If it was you, then click on the link below to change your password:</p>
  <p>
    <a href="{{link}}">Reset password.</a>
  </p>
  <p>If it was not you disregard this e-mail.</p>
  <p>Thank you!<br />
    <strong>GoBarber Team</strong>
  </p>
</div>
